.carrito__grid {
    display: grid;
    gap: 5rem;

    @media (min-width:768px) {
            grid-template-columns: 3fr 2fr;
    
    }
    
    & .carrito {
        padding: 3rem;
    }

    & .resumen {
        background-color: #e6e6e6;
        padding: 3rem;
        border-radius: 1rem;
    }
}

